body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  padding: 10px;
  width: 100%;
  height: 100%;
}

button {
  border: 1px solid white;
  background-color: green;
  font-weight: 600;
  color: aliceblue;
  padding: 10px;
  margin-right: 10px;
  border-radius: 6px;
}

form { 
  padding-bottom: 10px;
}

input {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
}

.light {
  background-color: white;
  color: #333;
}

.dark {
  background-color: black;
  color: #f0f0f0;
}
