body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  margin: 20px;
  width: 100%;
  padding: 20px;
}

input {
  padding: 10px;
  border-radius: 10px;
}

table, tr, th, td {
  border: 2px solid brown;
  border-collapse: collapse;
  padding: 10px;
}

tr:hover {
  background-color: beige;
}

tr:nth-child(even){
  background-color: aquamarine;
}